{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}
{% block content %}
<div class="container my-5">
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}"><button class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</button></a>
        {% else %}
        <a href="{% url 'accounts:login' %}"><button class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button></a>
        {% endif %}

    <h1 class="text-center mb-5">Edit Task</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="task-name">Task Title</label>
                {{ form }}
        </div>
        <button type="submit" class="btn btn-primary mr-3"><i class="fas fa-save mr-2"></i>Save</button>
        <a href="{% url 'todo:task-list' %}"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times mr-2"></i>Cancel</button></a>
    </form>
</div>

{% endblock %}


